div.about {
	background-color: #e5e1dd;
	position: relative;
}
.about_left {
	float: left;
}
div.about h2 {
	color: #9e2019;
	font-family: dagnyoffcpro !important;
	font-weight: normal;
	line-height: 0.7
}
.about_left p, .about_right p {
    font-family: open sans;
    color: #020202;
    line-height: 1.5;
}
.about_right p:last-child {
	display: none;
}
.about_left p span,
.about_right p span {
	font-weight: bold;
}
.about_right {
	float: right;
}
.magazine {
	background: rgba(0, 0, 0, 0) url("../images/horoscope_magazine_img.png") no-repeat scroll 0 0/100% 100%;
	position: absolute;
}

@media screen and (min-width: 700px) {
	#about_sec2, .magazine {
		display: block;
	}
	#grey_foot1, .mcaffe, #footer1 {
		display: none;
	}
	div.about {
		margin: 0 auto 0.66vw;
		padding: 0.833vw 0 2.166vw;
		width: 100%;
		box-sizing: border-box;
	}
	div.about > div {
		width: 89.58vw;
		margin: 0 auto;
		overflow: hidden;
	}
	.about_left {
		margin-left: 0.83vw;
		width: 41.5vw;
	}
	.about_right {
		margin-right: 0.666vw;
		width: 44.33vw;
	}
	div.about h2 {
		font-size: 2.08vw;
		margin-top: 2.5vw;
	}
	.about_left p,
	.about_right p {
		font-size: calc(12px + (14 - 12) * ((100vw - 700px) / (1200 - 700)));
		margin-bottom: 0.833vw;
	}
	.about_left p:nth-child(2),
	.about_right p:nth-child(2) {
		padding-top: 1.25vw;
	}
	.magazine {
		height: 170px;
		right: 6vw;
		width: 170px;
		bottom: -0.66vw;
	}
}

@media screen and (min-width: 1200px) {
	div.about {
		margin: 0 auto 8px;
		padding: 10px 0 26px;
		width: 100%;
		box-sizing: border-box;
	}
	div.about > div {
		width: 1075px;
		margin: 0 auto;
	}
	.about_left {
		margin-left: 10px;
		width: 498px;
	}
	div.about h2 {
		font-size: 25px;
		margin-top: 30px;
	}
	.about_left p,
	.about_right p {
		font-size: 14px;
		margin-bottom: 10px;
	}
	.about_left p:nth-child(2),
	.about_right p:nth-child(2) {
		padding-top: 15px;
	}
	.about_right {
		margin-right: 8px;
		width: 532px;
	}
	.magazine {
		height: 190px;
		right: 84px;
		width: 190px;
		bottom: -8px;
	}
}

@media screen and (max-width: 699px) {
div.about {
    display: none;
}
.greyCntarea {
    line-height: 17px;
    margin-top: 20px;
    padding: 0 35px 10px;
    position: relative;
    background: 
    #efefef none repeat scroll 0 0;
    display: block;
}
.greyCntarea {
    line-height: 17px;
}
.grayleft > h2 {
    font-size: 25px;
    line-height: 29px;
    margin: 0;
    padding-top: 24px;
    color: 
    #9e2019;
    font-weight: 400;
}	
.greyCntarea p {
    font-size: 15px;
    letter-spacing: 0.02em;
    line-height: 18px;
    padding-bottom: 7px;
    padding-top: 6px;
    color: 
    #020202;
    font-family: DagnyOffcPro;
}
.greyCntarea p span {
    font-family: DagnyOffcProBold;
}
.clearfix::after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
}
.mcaffe {
    margin: 40px 60px 35px;
    text-align: center;
}
.mcaffe img {
    width: 200px;
}

}

@media screen and (max-width: 450px) {
.greyCntarea {
    padding: 0 20px 10px;
}
}}