html {
	-webkit-text-size-adjust: 100%;
}

body {
	background-color: #c6c6c6;
	font-family: Open Sans, Helvetica, sans-serif;
	font-size: 12px;
	height: 100%;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: DagnyOffcPro;
	src: url('/join2.aarp/assets/fonts/DagnyOffcPro.otf');
}

@font-face {
	font-family: DagnyOffcProBold;
	src: url('/join2.aarp/assets/fonts/DagnyOffcProBold.otf');
}

@font-face {
	font-family: DagnyOffcProBlack;
	src: url('/join2.aarp/assets/fonts/DagnyOffcProBlack.otf');
}

#container {
	background-color: #fff;
	margin: 0 auto;
	overflow: hidden;
	visibility: visible;
}

a img {
	vertical-align: bottom;
	border: 0px !important;
}
li {
	list-style: none;
}

.herobanner {
	background: -moz-linear-gradient(left, #e1e1e1 0%, #f7f7f7 35%, #f7f7f7 35%, #f7f7f7 49%, #f7f7f7 70%, #e1e1e1 100%);
	background: -webkit-linear-gradient(left, #e1e1e1 0%, #f7f7f7 35%, #f7f7f7 35%, #f7f7f7 49%, #f7f7f7 70%, #e1e1e1 100%);
	background: linear-gradient(to right, #e1e1e1 0%, #f7f7f7 35%, #f7f7f7 35%, #f7f7f7 49%, #f7f7f7 70%, #e1e1e1 100%);
	position: relative;
	overflow: hidden;
}

.herobanner-left {
	position: relative;
	float: left;
}

.violator {
	position: absolute;
	z-index: 1;
}

.card-desktop,
.dotwhack {
	position: absolute;
}

.herobanner-right {
	float: right;
	display: flex;
	justify-content: center;
	flex-flow: column;
	align-items: center;
}
.buttonSection {
	display: block;
	clear: both;
}

.autorenew_txt {
	font-family: open sans;
	font-weight: bold;
	text-align: center;
	color: #333;
}

.buttonSection .joinNow {
	border-radius: 5px;
	background: #E80808;
	color: #ffffff;
	font-family: dagnyOffcProBold;
	text-decoration: none;
	margin: 0 auto;
	display: block;
	text-align: center;
}

div.containerShadow {
	-moz-box-shadow: 0 0 5px #000;
	-webkit-box-shadow: 0 0 5px #000;
	box-shadow: 0 0 5px #000;
}

.bannerblue {
	background: #0064AF;
	display: flex;
	clear: both;
}

.bannerblue-one,
.bannerblue-two {
	width: 34%;
	position: relative;
}

.bannerblue-one::before {
	content: "";
	width: 2px;
	background: #B1E7FF;
	position: absolute;
}

.bannerblue-one h1,
.bannerblue-two h1 {
	color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}

.bannerblue-one h1 span {
	display: inline-block;
	font-family: Open Sans, Extrabold;
	color: #B1E7FF;
}

.prescription {
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	text-align: center;
}

.prescription span {
	color: #B1E7FF;
	position: absolute;
}
.cover {
    font-size: 16px;
}

.household,
.cover {
	color: #B1E7FF;
	font-weight: bold;
	text-align: center;
}

.bannerblue-three::before {
	content: "";
	width: 2px;
	background: #B1E7FF;
	position: absolute;
	right: 0px;
}

.magazine-stack,
.magazine-whack {
	position: absolute;
}

.bannerblue-two {
	text-align: center;
}

.sec-membership {
	color: #FFFFFF;
	font-weight: bold;
}

.bannerblue-one h1,
.bannerblue-two h1 {
	color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}

.bannerblue-two h1 {
	text-align: center;
	position: relative;
}

.household,
.cover {
	color: #B1E7FF;
	font-weight: bold;
	text-align: center;
}

.renewText a {
	color: #0064AF;
}

.accordion_section {
	overflow: hidden;
	position: relative;
}

.mem_ben {
	width: 40px;
	margin-right: 5px;
}

.heading {
	font-family: DagnyOffcPRoBold;
	color: #9E2019;
	font-weight: normal;
}

.excl_offers p:nth-child(6) {
	display: none;
}

.excl_offers p.bene_para {
	color: #000;
	font-family: DagnyOffcPro, Open Sans;
}

.excl_offers p.bene_para a {
	color: #000;
}

.covered {
	color: #B1E7FF;
	font-weight: 600;
	position: absolute;
}

.mem_ben {
	position: relative;
}

.premium_section {
	display: flex;
}

#hero {
	display: flex;
}

.or {
	color: #222222;
	font-family: DagnyOffcProBold, Arial, Verdana, sans-serif;
	position: relative;
	text-align: center;
}

.arrow {
	background: url(images/Blue_Check_Inactive.png) no-repeat;
	background-size: 100% auto;
	position: absolute;
}

.abt_renew{
	color: #666666 !important;
}

#hero .active .arrow {
	background: url(images/bluetick_selected.png) no-repeat;
	background-size: 100% auto;
}
.slick-arrow{
display:none !important;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	.accordionbenefits::hover,
	.accordionbenefits::focus {
		background: #C23934;
	}
}

.excl_bene {
	display: none;
}

@media screen and (min-width: 700px) {

.slider {
width: 83%;
margin-bottom: 2.417vw !important;
padding: 0;
border: none;
}
.slide1 img, .slide2 img, .slide3 img {
width: 100% !important;
}
.slider div {
text-align: center;
}
.slider img {
margin: 0 auto;
}

	.offer_descp,
	.offer_descps
	{
		display: none;
	}

	.magazine,
	.aarp_org {
		display: block;
	}
	body {
		font-size: 0.96VW;
	}
	#container {
		width: 100%;
	}
	.herobanner {
		padding: 2.4vw 0px 4vw 4.8vw;
	}
	.herobanner-left {
		width: 47.68vw;
		height: 26.24vw;
	}
	.violator {
		width: 32.5vw;
		top: 1.33vw;
		left: -1.33vw;
	}
	.card-desktop {
		width: 40vw;
		top: 9vw;
		left: 4.72VW;
	}
	.dotwhack {
		width: 9.08vw;
		bottom: -1.5vw;
		left: 0.416vw;
		top: 19.5vw;
	}
	.herobanner-right {
		width: 44.58vw;
		padding-top: 4.5vw;
	}
	.buttonSection {
		padding-top: 1.33vw;
	}
	.buttonSection .joinButton {
		width: 22.24VW;
		margin: 0 auto;
	}
	.autorenew_txt {
		font-size: 1.083vw;
		margin: 0 0 1.25vw;
	}
	.buttonSection .joinNow {
		font-size: 2VW;
		padding: 0.916VW 0;
		width: 18.75vw;
		margin: 0 auto;
		height: 2.58VW;
	}
	.buttonSection .renewText {
		font-size: 9px;
		margin-top: 1.166VW;
		text-align: center;
		font-family: open sans;
	}
	#page-content {
		padding-top: 6VW;
		margin: 0;
	}
	.accordion_section {
		width: 90%;
		margin: 2.5vw auto 4.58vw;
		padding: 3.16vw 0 0;
	}
	.heading {
		font-size: 2.91vw;
		margin-bottom: 0.83vw;
	}
	.mem_ben {
		width: 3.33vw;
		margin-right: 0.41vw;
	}
	.excl_offers p.bene_para {
		font-size: 1.66vw;
		width: 78.83vw;
	}

	#hero {
		margin-top: 1.41vw;
		height: 23.16vw;
	}
	.or {
		font-size: 1.5vw;
		left: 0.083vw;
		top: 9.583vw;
		width: 4.91vw;
	}
	.arrow {
		width: 3.33vw;
		height: 3.33vw;
		top: -1.583vw;
		left: 19.16vw;
	}
	#hero .active {
		-webkit-box-shadow: 0.25vw 0.25vw 0.16vw -0.08vw rgba(0, 0, 0, 0.7);
		-moz-box-shadow: 0.25vw 0.25vw 0.16vw -0.08vw rgba(0, 0, 0, 0.7);
		box-shadow: 0.25vw 0.25vw 0.16vw -0.08vw rgba(0, 0, 0, 0.7);
		border: 0.25vw solid #0096ff;
	}
	#hero .active .arrow {
		width: 3.83vw;
		height: 3.83vw;
		left: 19vw;
	}
	.excl_offers {
		padding-left: 0;
	}
	.bannerblue {
		height: 10.66VW;
		padding: 0;
		flex-direction: row;
	}
	.bannerblue-one {
		padding: 1.33vw 0px;
	}
	.bannerblue-one::before {
		height: 6.66vw;
		right: 0.91vw;
		top: 2vw;
		transform: rotate(0);
	}
	.bannerblue-one h1 {
		font-size: 2.16vw;
		text-align: center;
	}
	.bannerblue-one h1 span {
		font-size: 0.91vw;
		margin-right: 0.33vw;
		line-height: 0.91vw;
	}
	.prescription {
		font-size: 2.08vw;
		padding-left: 0.75vw;
		line-height: normal;
		margin-bottom: 0;
	}
	.prescription span {
		font-size: 1.25vw;
		top: 0.416vw;
		left: 3.8vw;
	}
	.household,
	.cover {
		font-size: 1.33vw;
		position: static;
	}
	.bannerblue-one,
	.bannerblue-two,
	.bannerblue-three {
		width: 34%;
		position: relative;
		margin: 0;
	}
	.bannerblue-three::before {
		height: 6.66VW;
		top: 2vw;
		right: 1.11vw;
		transform: rotate(0);
	}
	.magazine-stack {
		bottom: -0.83vw;
		right: 17.83vw;
		height: auto;
		width: 12.33vw;
	}
	.magazine-whack {
		width: 9.66vw;
		height: auto;
		bottom: 0.48vw;
		right: 7vw;
	}
	.bannerblue-two {
		padding-top: 1.33vw;
		top: 0;
	}
	.sec-membership {
		font-size: 1.83vw;
		position: static;
	}
	.bannerblue-two h1 {
		font-size: 3.84VW;
		line-height: 3.2VW;
		position: static;
	}
	.household,
	.cover {
		font-size: 1.33vw;
		position: static;
	}
}

@media screen and (min-width: 920px) {
	.buttonSection .renewText {
		font-size: 0.91VW;
	}
}

@media screen and (min-width: 1200px) {

.slider {
width: 83%;
margin-bottom: 29px !important;
padding: 0;
border: none;
}
.slide1 img, .slide2 img, .slide3 img {
width: 100% !important;
}
.slider div {
text-align: center;
}
.slider img {
margin: 0 auto;
}

	.excl_offers {
		padding-left: 67px;
	}
	.sticky_header {
		width: 1200px !important;
	}
	
	.memberbenefits {
		margin: 45px auto 0;
		width: 970px;
	}
	.heading {
		font-size: 35px;
		margin-bottom: 10px;
	}
	.excl_offers p.bene_para {
		font-size: 20px;
		width: 946px;
	}
	.mem_ben {
		width: 40px;
		margin-right: 5px;
	}
	.covered {
		font-size: 17px;
		top: 82px;
		left: 104px;
	}
	#banner {
		width: 162px;
		height: 42px;
		margin-left: 52px;
	}
	#page-content {
		padding-top: 75px;
		margin: 0;
	}
	.herobanner {
		padding: 30px 0px 48px 60px;
	}
	.herobanner-left {
		width: 596px;
		height: 328px;
	}
	.violator {
		width: 390px;
		left: -16px;
		top: 16px;
	}
	.card-desktop {
		width: 480px;
		top: 108px;
		left: 59px;
	}
	.dotwhack {
		width: 109px;
		bottom: -18px;
		left: 5px;
		top: 234px;
	}
	.herobanner-right {
		width: 535px;
		padding-top: 54px;
		position: relative;
		right: 5px;
	}
	.buttonSection {
		padding-top: 16px;
	}
	.buttonSection .joinButton {
		width: 278px;
		margin: 0 auto;
	}
	.autorenew_txt {
		font-size: 13px;
		margin: 0 0 15px;
	}
	.buttonSection .joinNow {
		font-size: 25px;
		padding: 11px 0;
		width: 225px;
		height: 31px;
		margin: 0 auto;
	}
	.buttonSection .renewText {
		font-size: 11px;
		margin-top: 14px;
		text-align: center;
		font-family: open sans;
	}
	#container {
		width: 1200px;
		margin-bottom: -17px;
	}
	.accordion_section {
		margin: 30px auto 55px;
		width: 1105px;
		padding: 38px 0 0;
	}
	#hero {
		margin-top: 17px;
		height: 278px;
	}
	.or {
		font-size: 18px;
		left: 1px;
		top: 115px;
		width: 59px;
	}
	.arrow {
		width: 40px;
		height: 40px;
		top: -19px;
		left: 230px;
	}
	#hero .active {
		-webkit-box-shadow: 3px 3px 2px -1px rgba(0, 0, 0, 0.7);
		-moz-box-shadow: 3px 3px 2px -1px rgba(0, 0, 0, 0.7);
		box-shadow: 3px 3px 2px -1px rgba(0, 0, 0, 0.7);
		border: 2px solid #0096ff;
	}
	#hero .active .arrow {
		width: 46px;
		height: 46px;
		left: 228px;
	}
	.bannerblue {
		height: 128px;
		padding: 0;
	}
	.bannerblue-one {
		padding: 16px 0px;
	}
	.bannerblue-one::before {
		height: 80px;
		right: 11px;
		top: 24px;
	}
	.bannerblue-one h1 {
		font-size: 26px;
	}
	.bannerblue-one h1 span {
		font-size: 11px;
		margin-right: 4px;
		line-height: 11px;
	}
	.prescription {
		font-size: 25px;
		padding-left: 9px;
		letter-spacing: -0.02em;
	}
	.prescription span {
		font-size: 15px;
		top: 5px;
		left: 50px;
	}
	.household,
	.cover {
		font-size: 16px;
	}
	.bannerblue-three::before {
		height: 80px;
		top: 24px;
		right: 14px;
	}
	.magazine-stack {
		bottom: -10px;
		right: 214px;
		height: auto;
		width: 148px;
	}
	.magazine-whack {
		width: 116px;
		bottom: 6px;
		right: 84px;
	}
	.bannerblue-two {
		padding-top: 16px;
	}
	.sec-membership {
		font-size: 22px;
	}
	.bannerblue-two h1 {
		font-size: 40px;
		line-height: 40px;
	}
	.household,
	.cover {
		font-size: 16px;
	}
}


@media screen and (max-width: 800px) {
	.excl_offers p.bene_para {
		font-size: 14px;
		width: 580px;
	}
}

@media screen and (max-width: 699px) {

.slider {
padding: 15px 0;
width: 91%;
border-top: 1px solid #707070;
border-bottom: 1px solid #707070;
margin-bottom: 0px !important;
}
.slide1 img, .slide2 img, .slide3 img {
width: 100% !important;
}
.slider div {
text-align: center;
}
.slider img {
margin: 0 auto;
}
	.magazine,
	.aarp_org,
	.much-more,
	.desktopSection,
        .offer_descp,
	.offer_descps
          {
		display: none;
	}
	.excl_offers {
		margin-bottom: 40px;
	}
	
	.clearfix::after {
		clear: both;
		content: "";
		display: block;
		height: 0;
		visibility: hidden;
	}
	
	#page-content {
		margin-top: 53px;
	}
	.herobanner {
		padding-bottom: 20px;
	}
	.herobanner-left,
	.herobanner-right {
		width: 100%;
	}
	.bannerblue-one,
	.bannerblue-two,
	.bannerblue-three {
		width: 320px;
		margin: 0 auto;
                position: relative;
	}
	.herobanner-left {
		height: 72.8vw;
	}
	.violator {
		width: 78.93vw;
		left: -0.25vw;
		top: 1.56vw;
	}
	.card-desktop {
		width: 75vw;
		left: 13.125vw;
		top: 20.3125vw;
	}
	.dotwhack {
		width: 22vw;
		top: 26.875vw;
		right: 3vw;
		transform: rotate(35deg);
	}
	.autorenew_txt {
		margin: 20px 0 10px;
		font-size: 14px;
	}
	.buttonSection .joinNow {
		font-size: 18px;
		padding: 9px 28px 7px;
		margin: 2px 82px 15px;
	}
	.renewText {
		font-size: 13px;
		text-align: center;
		margin: 12px 0 0;
	}
	.bannerblue {
		flex-direction: column;
		height: 370px;
		padding-top: 20px;
		padding-bottom: 10px;
	}
	.bannerblue-one h1 {
		text-align: center;
		font-size: 23px;
		line-height: normal;
		position: relative;
	}
	.bannerblue-one h1 span {
		font-size: 9px;
		margin-right: 6px;
		line-height: 10px;
	}
	.bannerblue-two h1 {
		position: absolute;
		font-size: 38px;
		left: 120px;
		top: 164px;
	}
	.covered {
		top: 55px;
		left: 65px;
		font-size: 14px;
	}
	.prescription {
		text-align: center;
		position: relative;
		font-size: 20px;
		line-height: 20px;
		margin-bottom: 2px;
	}
	.bannerblue-one {
		padding-bottom: 26px;
	}
	.prescription span {
		font-size: 13px;
		top: -1px;
		left: 27px;
	}
	.magazine-stack {
		width: 156px;
		right: 140px;
		bottom: -171px;
	}
	.magazine-whack {
		width: 116px;
		height: auto;
		right: 24px;
		bottom: -147px;
	}
	.bannerblue-two {
		text-align: center;
		top: 25px;
	}
	.bannerblue-one::before {
		height: 287px;
		transform: rotate(90deg);
		right: 160px;
		top: -41px;
	}
	.sec-membership {
		font-size: 21px;
		left: 42px;
		top: 145px;
		position: absolute;
		padding-left: 8px;
	}
	.household {
		position: absolute;
		top: 213px;
		left: 46px;
		font-size: 16px;
	}
	.bannerblue-three::before {
		right: 160px;
		transform: rotate(90deg);
		top: 18px;
		height: 287px;
	}
	.accordion_section {
		width: 100%;
		margin: 40px auto 0px;
	}
	.heading {
		font-size: 25px;
		font-family: DagnyOffcPro;
		font-weight: normal;
		text-align: left;
		margin: 0 auto 10px;
		width: 90%;
	}
	.mem_ben {
		width: 40px;
		margin-right: 3px;
		top: 4px;
	}
       .bene_para.member_ben {
    font-size: 16px !important;
    line-height: 24px;
    width: 90% !important;
    margin: 0 auto;
    padding-bottom: 6px;
}
	.excl_offers p {
		font-size: 16px;
		line-height: 1.3;
		text-align: left;
		width: 90%;
		margin: 0 auto;
	}
}